<h1>bootcamps#index</h1>
  <p><%= flash[:notice] unless flash[:notice].blank? %></p>
  <hr>

    <% @bootcamps.each do |bootcamp| %>
    <p><%= link_to bootcamp.name, bootcamp %></p>

    <p><strong>Start date: </strong><%= bootcamp.startdate %></p>
    <p><strong>End date: </strong><%= bootcamp.enddate %></p>


    <br>
    <% end %>




