<h1>bootcamps#index</h1>
  <p><%= flash[:notice] unless flash[:notice].blank? %></p>
  <p>
    <% @bootcamps.each do |bootcamp| %>
    <strong>Name: </strong><%= bootcamp.name %>
    <p><strong>Start date: </strong><%= bootcamp.startdate %>
    <strong>End date: </strong><%= bootcamp.enddate %></p>
    <% end %>
  </p>
