<!-- <h1> posts#show page </h1>

<h3>Post</h3>
  <ul><h5>Title:</h5><%= @post.title %></ul>
  <ul><h5>Body:</h5><%= @post.body %></ul>

<br>

<h4>Comments (if any)</h4>
  <ul>
      <% @post.comments.each do |comment| %>
        <h5>Name:</h5> <%= comment.name %>
        <h5>Message:</h5> <%= comment.body %>
        <hr>
      <% end %>
  </ul>
 -->
